
.vs/RagnarokRegistration/v15/.suo
.vs/RagnarokRegistration/v15/Server/sqlite3/db.lock
.vs/RagnarokRegistration/v15/Server/sqlite3/storage.ide
*.ide-shm
*.ide-wal
.vs/RagnarokRegistration/v15/sqlite3/storage.ide
*.cache
*.cache
*.cache
